.footer-menu--container {
    display: flex;

    .categories-col {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}