.topBar {
    background-color: #e4e5f3;
    overflow: hidden;

    &--list {
        &-item {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            height: 35px;
            color: #001e62;
            cursor: pointer;
            padding: 10px 0;
            text-align: center;
        }
    }
}