.social-media {
    &--content {
        display: flex;
        gap: 7px;
        margin-top: 10px;

        @media(max-width: 1024px) {
            justify-content: center;
        }
    }

    &--item {
        display: flex;
        background-color: #ffffff;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}