.footer-seo-container {
    background-color: #E0E1F1;
}

.footer-seo {
    display: flex;
    width: 1440px;
    max-width: 61.875rem;
    height: 218px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &-content {
        &--title {
            margin: 1rem 0;
            font-size: 1.5rem;
            color: #001e62;
            font-weight: 600;
        }

        &--subtitle {
            margin: 1rem 0;
            color: #001e62;
            font-weight: 600;
            margin-bottom: 1rem;
            font-size: .875rem;
        }

        &--text {
            font-size: .875rem;
            color: #001e62;
            line-height: 1.625rem;
            letter-spacing: .063rem;
        }
    }
}