@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #001e62; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

.swiper-button-next {
  right: -2px !important;
}

.swiper-button-prev {
  left: -2px !important;
}