@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #001e62; 
}

@font-face {
  src: url('./fonts/Roboto-Black.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url('./fonts/Roboto-BlackItalic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
@font-face {
  src: url('./fonts/Roboto-Bold.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('./fonts/Roboto-BoldItalic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url('./fonts/Roboto-Italic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('./fonts/Roboto-Light.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url('./fonts/Roboto-LightItalic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  src: url('./fonts/Roboto-Medium.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url('./fonts/Roboto-MediumItalic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  src: url('./fonts/Roboto-Regular.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url('./fonts/Roboto-Thin.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url('./fonts/Roboto-ThinItalic.ttf') format('ttf');
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}


