.submenu {    
    background-color: #e4e5f380;

    &--list {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }
    
    &-item {

    }
}