.myAccountBtn {
    width: 180px;
    height: 42.76px;
    display: flex;
    align-items: center;
    border: 1.5px solid #b7b9de;
    border-radius: 6px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    max-width: 180px;

    p {
        color: #001E62;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 7px;
    }

    .icon__arrow-header {
        position: absolute;
        top: 9px;
        right: 2px;
    }
}